<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoWorries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22C400A31C1811CC00A9AC25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C400B71C1811CD00A9AC25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C400C21C1811CD00A9AC25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
